{% extends "books_recsys_app/base.html" %}

{% block content %}
        <form action="{% url 'auth' %}" method="POST">
            {% csrf_token %}
            <h2 align = Center>Create User </h2>
            <p> <br><br></p>
            <p align = Center><input type="search" class="span3" placeholder="name" name="name" id="search" autofocus /> </p>
            <p align = Center><input type="search" class="span3" placeholder="password" name="pwd" id="search" autofocus /> </p>
            <p align = Center><input type="search" class="span3" placeholder="password again" name="pwd1" id="search" autofocus /> </p>
             <input type="hidden" name="create" value="create">
            <p align = Center><button type="submit" class="btn btn-primary btn-large pull-center">Create &raquo;</button></p>
        </form>  

{% endblock content %}